<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="dashboard">
      <h1>Welcome, <%= intern.name %>!</h1>
      <p><strong>Referral Code:</strong> <%= intern.referralCode %></p>
      <p><strong>Total Donations:</strong> ₹<%= intern.totalDonations %></p>
      <h2>Rewards</h2>
      <ul>
        <% intern.rewards.forEach(reward => { %>
        <li><%= reward %></li>
        <% }) %>
      </ul>
      <h3>Add Yourself to the Leaderboard</h3>
      <form action="/add-leaderboard" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input type="number" name="donation" placeholder="donation" required />
        <button type="submit">Add to Leaderboard</button>
      </form>

      <a
        href="/leaderboard"
        style="
          display: inline-block;
          margin-top: 20px;
          font-weight: bold;
          color: #4299e1;
        "
        >View Leaderboard</a
      >
    </div>
  </body>
</html>
